<h2>Thank you for your order 🎉</h2>

<p>Hello <%= @user.email %>,</p>

<p>Your order has been placed successfully.</p>

<p><strong>Order ID:</strong> <%= @product.id %></p>




<p>We’ll notify you once your order ships 📦</p>
